.transfer-money-to-card-page {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.transfer-money-to-card-page__main-content {
  display: grid;
}

.receiver-card-text {
  font-family: 'JetBrains Mono', monospace;
  justify-self: center;
  align-self: center;
  margin-top: 20px;
  font-size: 20px;
}
