.sidebar {
  display: grid;
  grid-template-columns: 80px 1fr;
  position: absolute;
  flex-direction: row;
}

.sidebar__left-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--blue-color);
}

.sidebar__logo {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  padding-top: 10px;
}

.app-name {
  writing-mode: vertical-rl;
  margin-top: 20px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-size: 25px;
}

.sidebar__main-part {
  display: flex;
  justify-content: center;
  background-color: var(--light-grey-color);
}

.sidebar-nav {
  padding: 20px;
  box-sizing: border-box;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.2s;
  color: var(--black-color);
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  font-size: 18px;
}

.sidebar-nav a:hover {
  background-color: var(--hold-color);
  transform: scale(1.02);
}

.sidebar-nav a:active {
  transform: scale(0.98);
}

