.credit-card {
  display: grid;
  width: 380px;
  height: 235px;
  background-color: var(--hold-color);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.credit-card-logo {
  margin-left: 20px;
  margin-top: 5px;
  height: 50px;
}

.credit-card-balance {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'JetBrains Mono', monospace;
  font-size: 30px;
}

.credit-card-balance__mark {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'JetBrains Mono', monospace;
  font-size: 15px;
}

.credit-card-number {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'JetBrains Mono', monospace;
  font-size: 22px;
}

.credit-card-expiration {
  display: flex;
  margin-left: 120px;
  justify-content: center;
  width: 100%;
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
}

.add-credit-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 235px;
  width: 380px;
  background: var(--hold-color);
  border-radius: 15px;
}

.add-credit-card-img {
  width: 50px;
  cursor: pointer;
  transition: .2s;
}

.add-credit-card-img:hover {
  transform: scale(1.02);
}

.add-credit-card-img:active {
  transform: scale(0.98);
}

.add-credit-card-text {
  margin-top: 20px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-size: 15px;
}
