.cards-area {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.cards-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 30px 440px 30px 1fr;
  width: 620px;
  height: 300px;
  border-radius: 15px;
  background: var(--blue-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.switch-credit-card-arrow {
  cursor: pointer;
  height: 30px;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  transition: .2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.switch-credit-card-arrow:hover {
  transform: scale(1.02);
}

.switch-credit-card-arrow:active {
  transform: scale(0.98);
}

.card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.refresh-balance-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.refresh-balance-img {
  height: 50px;
  cursor: pointer;
  transition: .2s;
  border-radius: 5px;
}

.refresh-balance-img:hover {
  transform: scale(1.02);
}

.refresh-balance-img:active {
  transform: scale(0.98);
}

.cards-container__no-cards {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 620px;
  border-radius: 15px;
  background: var(--blue-color);
}

.add-credit-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 235px;
  width: 380px;
  background: var(--hold-color);
  border-radius: 15px;
}

.add-credit-card-img {
  width: 50px;
  cursor: pointer;
  transition: .2s;
}

.add-credit-card-img:hover {
  transform: scale(1.02);
}

.add-credit-card-img:active {
  transform: scale(0.98);
}

.add-credit-card-text {
  margin-top: 20px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-size: 15px;
}
